.contact-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Courier New", Courier, monospace;
}

@media (max-width: 1250px) {
    .contact-container {
        margin-top: -25px;
        padding-top: 0px;
        font-size: 11px;
    }
  }