.content-div {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  width: 50%;
  height: 70%;
  padding: 20px;
  padding-top: 2%;
  padding-bottom: 100px;
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(26,26,26,255);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 1.5s ease;
  overflow: hidden;
}

.content-div p {
  margin-left: 100px;
  text-align: right;
}

.content-div-secondary {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  width: 52%;
  height: 60%;
  padding: 20px;
  padding-top: 5%;
  padding-bottom: 100px;
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(26,26,26,255);
  margin: 20px auto;
  transition: transform 1.5s ease;
  overflow: hidden;
  
}

.content-div-secondary p {
  z-index: 10;
}

.content-div-secondary h1 {
  font-size: 64px;
  z-index: 10;
}

.moved {
  transform: translateX(-200%); /* Move the div outside the viewport */
  transition: transform 1s ease; /* Add transition for smooth movement */
}

.moved2 {
  transform: translateY(150%); /* Move the div outside the viewport */
  transition: transform 1s ease; /* Add transition for smooth movement */
}

.moved3 {
  transform: translateX(200%); /* Move the div outside the viewport to the right */
  transition: transform 1s ease; /* Add transition for smooth movement */
}

.moved4 {
  transform: translateY(-150%); /* Move the div outside the viewport to the top */
  transition: transform 1s ease; /* Add transition for smooth movement */
}

.content-line {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Space between the content-line and the button */
}

.vertical-line {
  width: 2px;
  height: 100%;
  background-color: white;
  margin: 0 20px;
}

.name {
  font-size: 64px;
  line-height: 1.2;
}

@media (max-width: 1350px) {
  .content-div {
    top: 350px;
  }
  .content-div-secondary {
    top: 350px;
  }
  .name {
    font-size: 32px;
  }
}

.inner-content-div-secondary {
  position: absolute;
  margin: 0 auto;
  padding: 15px;
  left: 0;
  right: 0;
  width: 90;
  height: 100%;
  background-color: rgba(0,0,0,0);
  transition: transform 1s linear;
  z-index: 1;
  font-size: 15px;
}

.inner-content-div-wrapper {
  position: absolute;
  margin: 0 auto;
  margin-top: -50px;
  padding: 15px;
  left: 0;
  right: 0;
  width: 90%;
  height: 40%;
  background-color: rgba(0,0,0,0);
  transition: transform 1s linear;
  z-index: 1;
  overflow: hidden;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.translate-left {
  transform: translateX(-110%);
}

.translate-right {
  transform: translateX(110%);
}

.translate-left-ready {
  transform: translateX(-110%);
}

.translate-right-ready {
  transform: translateX(110%);
}

.translate-top {
  transform: translateY(-110%);
}

.translate-bottom {
  transform: translateY(110%);
}

.translate-top-ready {
  transform: translateY(-110%);
}

.translate-bottom-ready {
  transform: translateY(110%);
}

.inner-content-div-secondary.translate-left-ready,
.inner-content-div-secondary.translate-right-ready {
  transition: transform 0s linear;
}

.inner-content-div-secondary.translate-top-ready,
.inner-content-div-secondary.translate-bottom-ready {
  transition: transform 0s linear;
}

.navigation-div {
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  height: 120px;
  background-color: rgba(26,26,26,255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

@media (max-width: 1750px) {
  .inner-content-div-secondary {
    font-size: 14px;
  }
}

@media (max-width: 1500px) {
  .content-div-secondary {
    width: 75%;
  }
}


@media (max-width: 1350px) {
  .content-div {
    padding-top: 0;
    top: 20%;
    width: 70%;
  }
  .content-div p {
    margin-left: 0;
    font-size: 15px;
  }
  .content-div-secondary {
    top: 28%;
    width: 75%;
    height: 30%;
  }
  .content-div-secondary h1 {
    font-size: 24px;
  }
  .name {
    font-size: 24px;
  }
  .inner-content-div-wrapper {
    height: 62%;
  }
  .left-align {
    text-align: right;
  }
  .navigation-div {
    top: 85%;
  }
}

@media (max-width: 1100px) {
  .inner-content-div-secondary {
    font-size: 12px;
  }
  .content-div-secondary {
    width: 90%;
  }
  .navigation-div {
    top: 85%;
  }
  .left-align {
    text-align: right;
  }
}

@media (max-width: 800px) {
  .inner-content-div-secondary {
    font-size: 11px;
  }
  .content-div {
    top: 25%;
  }
}

@media (max-width: 600px) {
  .inner-content-div-secondary {
    font-size: 8.5px;
  }
  .inner-content-div-wrapper {
    height: 73%;
  }
  .content-div-secondary {
    top: 35%;
    font-size: 10px;
  }
  .content-div {
    top: 25%;
  }
}
  

.right-float {
  float: right;
}

.left-float {
  float: left;
}





