.content-div {
  position: relative;
  top: 120px;
  width: 50%;
  height: 70%;
  padding: 20px;
  padding-top: 10%;
  padding-bottom: 100px;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moved {
  transform: translateX(-200%); /* Move the div outside the viewport */
  transition: transform 1.5s ease; /* Add transition for smooth movement */
}

.content-line {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Space between the content-line and the button */
}

.vertical-line {
  width: 2px;
  height: 100%;
  background-color: black;
  margin: 0 20px;
}

.name {
  font-size: 64px;
  line-height: 1.2;
}

@media (max-width: 1250px) {
  .content-div {
    top: 350px;
  }
  .name {
    font-size: 32px;
  }
}

@media (max-width: 800px) {
  .name {
    font-size: 24px;
  }
}

.about-me-div {
  transform: translateY(100vh);
  position: relative;
  top: 120px;
  width: 50%;
  height: 70%;
  padding: 20px;
  padding-top: 10%;
  padding-bottom: 100px;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  margin: 20px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.visible {
  transform: translateY(calc(120px - 100vh)); /* Move the div to the top by 120px */
  transition: transform 1.5s ease; /* Only transition the transform property */
}



