.content-div {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  width: 50%;
  height: 70%;
  padding: 20px;
  padding-top: 2%;
  padding-bottom: 100px;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 1.5s ease;
  overflow: auto;
}

.content-div p {
  margin-left: 100px;
  text-align: right;
}

.content-div-secondary {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  width: 50%;
  height: 60%;
  padding: 20px;
  padding-top: 5%;
  padding-bottom: 100px;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  margin: 20px auto;
  transition: transform 1.5s ease;
  overflow: hidden;
  
}

.content-div-secondary p {
  z-index: 10;
}

.content-div-secondary h1 {
  font-size: 64px;
  z-index: 10;
}

.moved {
  transform: translateX(-200%); /* Move the div outside the viewport */
  transition: transform 1s ease; /* Add transition for smooth movement */
}

.moved2 {
  transform: translateY(150%); /* Move the div outside the viewport */
  transition: transform 1s ease; /* Add transition for smooth movement */
}

.moved3 {
  transform: translateX(200%); /* Move the div outside the viewport to the right */
  transition: transform 1s ease; /* Add transition for smooth movement */
}

.moved4 {
  transform: translateY(-150%); /* Move the div outside the viewport to the top */
  transition: transform 1s ease; /* Add transition for smooth movement */
}

.content-line {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Space between the content-line and the button */
}

.vertical-line {
  width: 2px;
  height: 100%;
  background-color: white;
  margin: 0 20px;
}

.name {
  font-size: 64px;
  line-height: 1.2;
}

@media (max-width: 1250px) {
  .content-div {
    top: 350px;
  }
  .content-div-secondary {
    top: 350px;
  }
  .name {
    font-size: 32px;
  }
}

.inner-content-div {
  position: absolute;
  margin: 0 auto;
  margin-top: -50px;
  padding: 15px;
  left: 0;
  right: 0;
  width: 90%;
  height: 45%;
  background-color: rgba(0, 0, 0, 0);
  transition: transform 1s linear;
  z-index: 1;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.translate-left {
  transform: translateX(-110%);
}

.translate-right {
  transform: translateX(110%);
}

.translate-left-ready {
  transform: translateX(-110%);
}

.translate-right-ready {
  transform: translateX(110%);
}

.inner-content-div.translate-left-ready,
.inner-content-div.translate-right-ready {
  transition: transform 0s linear;
}

.navigation-div {
  position: relative;
  top: 55%;
  left: 0;
  right: 0;
  height: 120px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}


@media (max-width: 1250px) {
  .content-div {
    padding-top: 0;
    top: 350px;
    width: 100%;
  }
  .content-div p {
    margin-left: 0;
    font-size: 13px;
  }
  .content-div-secondary {
    top: 350px;
    width: 90%;
    font-size: 11px;
    height: 30%;
  }
  .content-div-secondary h1 {
    font-size: 24px;
  }
  .name {
    font-size: 24px;
  }
  .inner-content-div {
    height: 30%;
  }
}

@media (max-width: 1700px) {
  .inner-content-div {
    font-size: 14px;
  }
}
  

.right-float {
  float: right;
}

.left-float {
  float: left;
}





