.right-image {
    margin: 0px;
    width: 300px;
    height: auto;
    float: right;
    margin-left: 20px;
    border: solid 1px white;
}

.left-image {
    margin: 0px;
    width: 300px;
    height: auto;
    float: left;
    margin-right: 20px;
    border: solid 1px white;
}

.right-image-small {
    margin: 0px;
    width: 150px;
    height: auto;
    float: right;
    margin-left: 20px;
    border: solid 1px white;
}

.left-image-small {
    margin: 0px;
    width: 150px;
    height: auto;
    float: left;
    margin-right: 20px;
}